@font-face {
    src: url("fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.woff2") format("woff2"),
        url('fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf') format('truetype');

    font-family: 'Recursive';
    font-style: normal;
    font-weight: normal;
    }
    
   
    body{
    background-color: #ffffff;
    font-family: 'Recursive';
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - rem, 150ch);
    margin-inline: auto;
    display: grid;
grid-gap: 2px;
grid-template-columns: 2fr 2fr;
grid-template-rows: auto auto auto ;
grid-template-areas: 
    "h h"
    "h h"
    "h h"
    "v v"
    "a a"
    "n n"
    "g g";}
    #history {
        grid-area: h;
        margin: 5px;
        font-size: 10px;
        background-color: #E1F8EB;
        color: #4C5BA9;
        padding: 20px;
        border: #9DAAEE solid;
        border-width: 30px;
        
        .first-word-history{
            font-size: 20px;
            font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0.5;
        }
        }
        .logo{
            color: #E1F8EB;
            font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
        }
.hero{
    fill: #4C5BA9;
     background-color:#E1F8EB;
    
       
     
     
        
     }
    
     #history {
grid-area: h;
margin:17px;
font-size: 12px;
background-color: #E1F8EB;
color: #4C5BA9;
padding: 10px;
border: #9DAAEE solid;
border-width: 30px;



.first-word-history{
    font-size: 35px;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0.5;
}
}
 
     #alphabet{
        background-color: #E1F8EB;
        margin: 15px;
        grid-area: a;
        display:grid;
        grid-template-columns: 4fr 4fr 4fr 4fr;
        grid-template-rows: auto;
        grid-template-areas:
        ". . b b"
        "f f b b"
        ". . b b";
        .full-character-list{
            font-size: 25px;
            text-align: left;
            grid-area: f;
          margin: 20px;
            color: #4C5BA9;
            font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
        }
        .alphabet-text{
            grid-area: b;
            text-align: right;
            margin: 35px;
            font-size: 12px;
            color: #4C5BA9;
            font-variation-settings: "MONO" 0, "CASL" 1, "wght" 450, "slnt" 0, "CRSV" 0;
        }
    }   
    #number{
        background-color: #E1F8EB;
       margin: 15px;
        grid-area: n;
        display:grid;
        grid-template-columns: 4fr 4fr 4fr 4fr;
        grid-template-rows: auto;
        grid-template-areas:
        "r r l l";
       
    
    
        .number-title{
            font-size: 25px;
            margin: 10px;
            font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
            color: #4C5BA9;
        }
    
        .numbers{
            grid-area: l;
           text-align: right;
            margin: 10px;
            font-size: 20px;
            color: #4C5BA9;
            font-variation-settings: "MONO" 0, "CASL" 1, "wght" 450, "slnt" 0, "CRSV" 0;    
           
            
            
        }  
     
    }
    #glyph{
        margin: 15px;
        background-color: #E1F8EB;
        grid-area: g; 
        display:grid;
            grid-template-columns: 4fr 4fr 4fr 4fr;
            grid-template-rows: auto;
            grid-template-areas:
            "t t . ."
            "t t p p"
            "t t . .";
            
           
            .glyphs{
                text-align: right;
                grid-area: p;
                margin: 10px;
                font-size: 20px;
                font-variation-settings: "MONO" 0, "CASL" 1, "wght" 450, "slnt" 0, "CRSV" 0;  
                color: #4C5BA9;  
            }
           
            .glyph-title{
                grid-area: t;
                margin: 10px;
                font-size: 25px;
                font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
                color: #4C5BA9;
        
            }
            
        }
        #variations{
            padding: 25px;
            background-color: #4C5BA9;
            display: grid;
        grid-gap: 2px;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto auto auto ;
        grid-area: v;
        grid-template-areas: 
        "x o";
        }
        .five{
            grid-area: x;
            .title{
                font-size: 25px;
                color: #E1F8EB;
            }
                 
                    
                 .weight{
                     animation: weightChange 4s infinite;
                    color: #E1F8EB;
                    font-size: 20px;
                }
                    @keyframes weightChange {
                    
                        0%, 100{
                            font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                        }
                       50%{
                        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 500, "slnt" 0, "CRSV" 0;
                       } 
                    }
                } 
                .slant{
                    animation: slantChange 4s infinite;
                    color: #E1F8EB;
                    font-size: 20px;
                }
                    @keyframes slantChange {
                        
                            0%, 100%{
                            font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                        }
                            50%{
                                font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" -15, "CRSV" 0;;
                            }
                    }
                .monospace{
                    animation: monospaceChange 4s infinite;
                    color: #E1F8EB;
                    font-size: 20px;
                }
                    @keyframes monospaceChange {
                        0%, 100%{
                            font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                        }
                        50%{
                            font-variation-settings: "MONO" 1, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                        }
                    }
                .casual{
                    animation: casualChange 4s infinite;
                    font-size: 20px;
                    color: #E1F8EB;
                }
                    @keyframes casualChange {
                        0%, 100% {
                            font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                        }
                        50%{
                            font-variation-settings: "MONO" 0, "CASL" 1, "wght" 300, "slnt" 0, "CRSV" 0;
                        }
                    }
                .cursive{
                    animation: cursiveChange 4s infinite;
                    font-size: 20px;
                    color: #E1F8EB;
                }
                    @keyframes cursiveChange {
                        0%, 100% {
                            font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                        }
                        50%{
                            font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 1;
                        }
                    }
                    .download{
                        align-self: center;
                        display: inline-block;
                            margin: auto;
                            text-decoration: none;
                            text-align: center;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            padding: 10px 10px;
                            border-radius: 10px;
                            font-size: 20px;
                            font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
                        grid-area: o;
                        background-color: #E1F8EB;
                    }
                    .download:hover{
                        background-color: #a7ccb7;
                    }
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
    .page-wrapper{
display: grid;
grid-gap: 2px;
grid-template-columns: 2fr 2fr;
grid-template-rows: auto auto auto ;
grid-template-areas: 
    "h h"
    "h h"
    "h h"
    "v v"
    "a a"
    "n n"
    "g g";
}
.logo{
    color: #E1F8EB;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
}
.hero{
    fill: #4C5BA9;
        
   background-color: #E1F8EB;
   padding: 100px;
 
}



#history {
grid-area: h;
margin:70px;
font-size: 15px;
background-color: #E1F8EB;
color: #4C5BA9;
padding: 30px;
border: #9DAAEE solid;
border-width: 60px;
font-variation-settings: "MONO" 0, "CASL" 0.5, "wght" 450, "slnt" 0, "CRSV" 0;

.first-word-history{
    font-size: 35px;
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0.5;
}
}

#variations{
    padding: 100px;
    background-color: #4C5BA9;
    display: grid;
grid-gap: 2px;
grid-template-columns: 2fr 2fr;
grid-template-rows: auto auto auto ;
grid-area: v;
grid-template-areas: 
"x o";
}
.five{
    grid-area: x;
    .title{
        font-size: 35px;
        color: #E1F8EB;
    }
         
            
         .weight{
             animation: weightChange 4s infinite;
            color: #E1F8EB;
            font-size: 24px;
        }
            @keyframes weightChange {
            
                0%, 100{
                    font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                }
               50%{
                font-variation-settings: "MONO" 0, "CASL" 0, "wght" 500, "slnt" 0, "CRSV" 0;
               } 
            }
        } 
        .slant{
            animation: slantChange 4s infinite;
            color: #E1F8EB;
            font-size: 24px;
        }
            @keyframes slantChange {
                
                    0%, 100%{
                    font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                }
                    50%{
                        font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" -15, "CRSV" 0;;
                    }
            }
        .monospace{
            animation: monospaceChange 4s infinite;
            color: #E1F8EB;
            font-size: 24px;
        }
            @keyframes monospaceChange {
                0%, 100%{
                    font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                }
                50%{
                    font-variation-settings: "MONO" 1, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                }
            }
        .casual{
            animation: casualChange 4s infinite;
            font-size: 24px;
            color: #E1F8EB;
        }
            @keyframes casualChange {
                0%, 100% {
                    font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                }
                50%{
                    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 300, "slnt" 0, "CRSV" 0;
                }
            }
        .cursive{
            animation: cursiveChange 4s infinite;
            font-size: 24px;
            color: #E1F8EB;
        }
            @keyframes cursiveChange {
                0%, 100% {
                    font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 0;
                }
                50%{
                    font-variation-settings: "MONO" 0, "CASL" 0, "wght" 300, "slnt" 0, "CRSV" 1;
                }
            }
           
        



.download{
    align-self: center;
    display: inline-block;
        margin: auto;
        text-decoration: none;
        text-align: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 20px 20px;
        border-radius: 10px;
        font-size: 20px;
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
    grid-area: o;
    background-color: #E1F8EB;
}
.download:hover{
    background-color: #a7ccb7;
}

#alphabet{
    background-color: #E1F8EB;
    margin: 30px;
    grid-area: a;
    display:grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". . b b"
    "f f b b"
    ". . b b";
    .full-character-list{
        font-size: 65px;
        text-align: left;
        grid-area: f;
      margin: 20px;
        color: #4C5BA9;
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
    }
    .alphabet-text{
        grid-area: b;
        text-align: right;
        margin: 35px;
        font-size: 35px;
        color: #4C5BA9;
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 450, "slnt" 0, "CRSV" 0;
    }
}   
#number{
    background-color: #E1F8EB;
   margin: 30px;
    grid-area: n;
    display:grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
    "r r l l";
   


    .number-title{
        font-size: 55px;
        margin: 40px;
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
        color: #4C5BA9;
    }

    .numbers{
        grid-area: l;
       text-align: right;
        margin: 40px;
        font-size: 40px;
        color: #4C5BA9;
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 450, "slnt" 0, "CRSV" 0;    
        
      
}
  
}
#glyph{
margin: 30px;
background-color: #E1F8EB;
grid-area: g; 
display:grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:
    "t t . ."
    "t t p p"
    "t t . .";
   
    .glyphs{
        text-align: right;
        grid-area: p;
        margin: 30px;
        font-size: 35px;
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 450, "slnt" 0, "CRSV" 0;  
        color: #4C5BA9;  
    }
   
    .glyph-title{
        grid-area: t;
        margin: 40px;
        font-size: 40px;
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 500, "slnt" 0, "CRSV" 0;
        color: #4C5BA9;

    }
}

}
   


/* CSS for the footer */
footer{
    background-color: #4C5BA9;
    color: #E1F8EB;
}


/* variable font animation */
h3{
    color: #E1F8EB;
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

    


@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 300, "slnt" 0, "CRSV" 0;
}
    
    50%{
        font-variation-settings: "MONO" 0, "CASL" 1, "wght" 700, "slnt" 0, "CRSV" 0;
    }
    }
    

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}